*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
nav{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-between;
}
ul{
    display: flex;
    flex-direction:row;
}
a{
    text-decoration: none;
    color: black;
}
li{
    list-style-type: none;

}
#centerinfo1{
    align-self: center;
    justify-content: center;
    /* margin-left: 30vw; */
    align-items: end;
    gap: 4vw;
}
nav img{
    margin-top: 2vh;
    
}
#donatenow{
    position: relative;
    right: 2vw;
    /* left: 20vw; */
}
#logo{
    position: relative;
    left: 0px;
    cursor: pointer;
}
#donatenow button{
    width: 15vw; align-self: center; cursor: pointer;
    background-color: #39B54A;
    width: auto;
    border: white;
    border-radius: 20px;
    padding: 10px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 3s ease ;
}
body{
    height: 100%;
    width: 100%;
}
.new{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30%;
    border: 5px solid black;

}
h2{
    text-align: center;
}
.newcontent{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
   /* width: 30%; */
   height: 100%;
   width: 45%;
}
.newcontent>h2,p,.search{
    margin-bottom: .3em;
    width: 100%;
}
.search>input{
    width: 90%;
}

.newImage{
width: 100%;

}
.card
{
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: .3em;
    padding-bottom: 2px;
    box-shadow: 5px 5px 3px grey;
    height: fit-content;
}
.green,.submit{
    color: green;
    font-size: small;
}
.last{
    display: flex;
    justify-content: space-between;
}
button{
    border-radius: .5em;
    padding: .2em;
    border: none;
    background-color: grey;
    color: black;
   
}
a{
    text-decoration: none;
}
.items{
    display: flex;
    list-style-type: none;
   justify-content: flex-start;
}
.items>li{
    padding: .3em;
    background-color: grey;
    border-radius: .6em;
    margin-right: .2em;
    margin-top: .3em;
}
.subscription{
    width: 100%;
    background-color: lightgreen;
    height: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.submit{
    padding: .5em;
    margin: .2em;
    background-color: green;
    color: rgb(50, 48, 48);
}
.mailsubmit{
    outline: 2px solid grey;
    width: fit-content;
    border-radius: .8em;
    background-color: white;
    padding: .1em;
    display: flex;
    justify-content: space-between;
}
.mailsubmit>input{
    border:  none;
}
.mailsubmit,.subscription>h3{
    width: 45%;
}
.a>img{
    width: 100%;
    margin: .3em;
}
@media(width<480px)
{
    .new{
        height: 50%;
        font-size: small;
        padding-bottom: .2em;
    }
    .card{
        height: 100%;
    }
    .items>li{
        padding: .2em;
        background-color: grey;
        border-radius: .6em;
        margin-right: .1em;
        margin-top: .3em;
    }
    .subscription{
        width: 100%;
        background-color: lightgreen;
        height: 8em;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .mailsubmit{
        outline: 2px solid grey;
        width: fit-content;
        
        background-color: white;
        padding: .1em;
        display: flex;
        justify-content: space-between;
    }
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: #D9D9D9;
    padding: 5vh;
    
}
footer ul{
    display: flex;
    flex-direction: column;
    
}
footer a{
    text-align: center;
}
#lastbutton{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
#last{
    margin-top: 2px;


}
#lastbutton button{
    font-size: larger;
    padding: 10px;
    background-color: #39B54A;
    color: white;
    border-radius: 10px;
    margin-bottom: 4px;
}